In [10]:
import numpy as np
import pandas as pd

df = pd.read_csv("./time_series_dataset.csv")

In [11]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder()

In [12]:
df

                       Datetime  Value
0  2023-01-01 00:00:00 23:02:00    NaN
1  2023-01-02 00:00:00 21:47:20    NaN
2  2023-01-03 00:00:00 13:03:38    3.0
3  2023-01-04 00:00:00 02:56:45    5.0
4  2023-01-05 00:00:00 16:37:12    NaN
5  2023-01-06 00:00:00 13:18:25    8.0
6  2023-01-07 00:00:00 18:29:27    NaN
7  2023-01-08 00:00:00 03:39:57    NaN
8  2023-01-09 00:00:00 19:42:46   15.0
9  2023-01-10 00:00:00 23:12:55    NaN

In [13]:
labels = oe.fit_transform(df[["Value"]])

In [14]:
labels

array([[nan],
       [nan],
       [ 0.],
       [ 1.],
       [nan],
       [ 2.],
       [nan],
       [nan],
       [ 3.],
       [nan]])