In [46]:
import pandas as pd

df = pd.read_csv("./time_series_dataset.csv")

In [47]:
df

                       Datetime  Value
0  2023-01-01 00:00:00 23:02:00    NaN
1  2023-01-02 00:00:00 21:47:20    NaN
2  2023-01-03 00:00:00 13:03:38    3.0
3  2023-01-04 00:00:00 02:56:45    5.0
4  2023-01-05 00:00:00 16:37:12    NaN
5  2023-01-06 00:00:00 13:18:25    8.0
6  2023-01-07 00:00:00 18:29:27    NaN
7  2023-01-08 00:00:00 03:39:57    NaN
8  2023-01-09 00:00:00 19:42:46   15.0
9  2023-01-10 00:00:00 23:12:55    NaN

In [48]:
df.set_index(keys=["Datetime"], inplace=True)
df.sort_index(inplace=True)

In [49]:
df

                              Value
Datetime
2023-01-01 00:00:00 23:02:00    NaN
2023-01-02 00:00:00 21:47:20    NaN
2023-01-03 00:00:00 13:03:38    3.0
2023-01-04 00:00:00 02:56:45    5.0
2023-01-05 00:00:00 16:37:12    NaN
2023-01-06 00:00:00 13:18:25    8.0
2023-01-07 00:00:00 18:29:27    NaN
2023-01-08 00:00:00 03:39:57    NaN
2023-01-09 00:00:00 19:42:46   15.0
2023-01-10 00:00:00 23:12:55    NaN

In [50]:
def fill_missing_values_correctly(df, column_name):

    df_copy = df.copy()
    first_valid_idx = df_copy[column_name].first_valid_index()
    last_valid_idx = df_copy[column_name].last_valid_index()

    df_copy[column_name] = df_copy[column_name].interpolate(method='linear')
    df_copy.loc[:first_valid_idx, column_name] = df_copy.loc[:first_valid_idx, column_name].bfill()
    df_copy.loc[last_valid_idx:, column_name] = df_copy.loc[last_valid_idx:, column_name].ffill()

    return df_copy

In [51]:
df = fill_missing_values_correctly(df,"Value")

In [52]:
df

                                  Value
Datetime
2023-01-01 00:00:00 23:02:00   3.000000
2023-01-02 00:00:00 21:47:20   3.000000
2023-01-03 00:00:00 13:03:38   3.000000
2023-01-04 00:00:00 02:56:45   5.000000
2023-01-05 00:00:00 16:37:12   6.500000
2023-01-06 00:00:00 13:18:25   8.000000
2023-01-07 00:00:00 18:29:27  10.333333
2023-01-08 00:00:00 03:39:57  12.666667
2023-01-09 00:00:00 19:42:46  15.000000
2023-01-10 00:00:00 23:12:55  15.000000