# Requirements

In [ ]:
# Add as many imports as you need.

# Laboratory Exercise - Run Mode (8 points)

## The Vacation Preferences Dataset
The dataset contains information about individuals and their vacation preferences. It includes details such as age, gender, income, and education level. It also provides insights into their vacation habits, like the number of vacations taken each year, preferred activities (such as hiking, swimming, skiing, or sunbathing), and their budget for vacations. Other information includes the type of place they live in (urban, suburban, or rural), how far they live from mountains and beaches, and their favorite season for vacations (summer, winter, spring, or fall). The dataset also contains information whether they have pets and if they are concerned about the environment. All these features serve as input variables for predictive modeling. The 'Preference' attribute serves as the target variable, where 1 represents preference for mountains, 0 for beaches.

Load the dataset into a `pandas` data frame.

In [1]:
import pandas as pd

# Write your code here. Add as many boxes as you need.
df = pd.read_csv("./vacation_preferences_data.csv")

Preprocess the input and the output variables appropriately.

In [5]:
# Write your code here. Add as many boxes as you need.
df.isnull().sum()/len(df)*100

Age                       9.999237
Gender                    0.000000
Income                    0.000000
Education_Level           4.999619
Travel_Frequency          0.000000
Preferred_Activities      0.000000
Vacation_Budget           0.000000
Location                  0.000000
Proximity_to_Mountains    4.999619
Proximity_to_Beaches      0.000000
Favorite_Season           0.000000
Pets                      0.000000
Environmental_Concerns    0.000000
Preference                0.000000
dtype: float64

In [6]:
df.sample(5)

,Age,Gender,Income,Education_Level,Travel_Frequency,Preferred_Activities,Vacation_Budget,Location,Proximity_to_Mountains,Proximity_to_Beaches,Favorite_Season,Pets,Environmental_Concerns,Preference
1697,NaN,non-binary,97134,master,5,skiing,2841,rural,259.0,76,winter,1,0,0
15095,46.0,female,29701,bachelor,0,sunbathing,1621,urban,107.0,20,fall,0,1,0
44222,62.0,non-binary,118104,master,2,skiing,646,rural,69.0,85,fall,1,0,1
7464,28.0,male,63058,bachelor,3,skiing,3399,suburban,88.0,238,summer,0,1,1
16149,56.0,female,65297,NaN,4,sunbathing,4260,suburban,91.0,76,fall,1,1,0

In [9]:
for cat in df.select_dtypes(include=["object","category"]):
    for num in df.select_dtypes(include=["number"]):
        print(df.groupby(cat)[num].mean())
        print()

Gender
female        43.455148
male          43.544625
non-binary    43.596840
Name: Age, dtype: float64

Gender
female        70346.368126
male          69935.583324
non-binary    69764.246876
Name: Income, dtype: float64

Gender
female        4.492006
male          4.482308
non-binary    4.493520
Name: Travel_Frequency, dtype: float64

Gender
female        2739.589579
male          2751.803048
non-binary    2733.912057
Name: Vacation_Budget, dtype: float64

Gender
female        148.363826
male          150.503330
non-binary    150.781779
Name: Proximity_to_Mountains, dtype: float64

Gender
female        149.965529
male          149.473062
non-binary    150.230907
Name: Proximity_to_Beaches, dtype: float64

Gender
female        0.502041
male          0.495834
non-binary    0.504744
Name: Pets, dtype: float64

Gender
female        0.502154
male          0.493950
non-binary    0.499190
Name: Environmental_Concerns, dtype: float64

Gender
female        0.250425
male          0.250999
non-binary    0.250694
Name: Preference, dtype: float64

Education_Level
bachelor       43.448178
doctorate      43.493779
high school    43.747901
master         43.470461
Name: Age, dtype: float64

Education_Level
bachelor       70284.631326
doctorate      69903.926852
high school    70034.666130
master         69857.039401
Name: Income, dtype: float64

Education_Level
bachelor       4.494395
doctorate      4.485671
high school    4.512562
master         4.448551
Name: Travel_Frequency, dtype: float64

Education_Level
bachelor       2718.142297
doctorate      2750.693239
high school    2751.087132
master         2746.389205
Name: Vacation_Budget, dtype: float64

Education_Level
bachelor       150.356861
doctorate      150.986118
high school    148.859253
master         149.542791
Name: Proximity_to_Mountains, dtype: float64

Education_Level
bachelor       150.305253
doctorate      149.093414
high school    149.801337
master         150.827662
Name: Proximity_to_Beaches, dtype: float64

Education_Level
bachelor       0.498238
doctorate      0.500158
high school    0.501369
master         0.501465
Name: Pets, dtype: float64

Education_Level
bachelor       0.498559
doctorate      0.503008
high school    0.501772
master         0.492185
Name: Environmental_Concerns, dtype: float64

Education_Level
bachelor       0.253043
doctorate      0.243271
high school    0.257529
master         0.250488
Name: Preference, dtype: float64

Preferred_Activities
hiking        43.550119
skiing        43.434161
sunbathing    43.638456
swimming      43.504374
Name: Age, dtype: float64

Preferred_Activities
hiking        69908.984048
skiing        69953.157135
sunbathing    69948.712427
swimming      70261.936004
Name: Income, dtype: float64

Preferred_Activities
hiking        4.512822
skiing        4.466089
sunbathing    4.455412
swimming      4.523545
Name: Travel_Frequency, dtype: float64

Preferred_Activities
hiking        2745.176767
skiing        2728.201489
sunbathing    2750.674760
swimming      2743.145283
Name: Vacation_Budget, dtype: float64

Preferred_Activities
hiking        149.844494
skiing        149.514247
sunbathing    149.962901
swimming      150.184302
Name: Proximity_to_Mountains, dtype: float64

Preferred_Activities
hiking        150.195619
skiing        150.668565
sunbathing    148.796158
swimming      149.899645
Name: Proximity_to_Beaches, dtype: float64

Preferred_Activities
hiking        0.499084
skiing        0.496620
sunbathing    0.508736
swimming      0.498919
Name: Pets, dtype: float64

Preferred_Activities
hiking        0.498168
skiing        0.497456
sunbathing    0.495424
swimming      0.502779
Name: Environmental_Concerns, dtype: float64

Preferred_Activities
hiking        0.500916
skiing        0.500114
sunbathing    0.000000
swimming      0.000000
Name: Preference, dtype: float64

Location
rural       43.517296
suburban    43.606228
urban       43.471667
Name: Age, dtype: float64

Location
rural       70221.494475
suburban    69834.467234
urban       69996.263104
Name: Income, dtype: float64

Location
rural       4.480733
suburban    4.459293
urban       4.527810
Name: Travel_Frequency, dtype: float64

Location
rural       2734.875637
suburban    2752.584186
urban       2737.916342
Name: Vacation_Budget, dtype: float64

Location
rural       150.234773
suburban    149.061587
urban       150.332631
Name: Proximity_to_Mountains, dtype: float64

Location
rural       150.476095
suburban    149.322688
urban       149.867819
Name: Proximity_to_Beaches, dtype: float64

Location
rural       0.503006
suburban    0.498315
urban       0.501259
Name: Pets, dtype: float64

Location
rural       0.503693
suburban    0.497743
urban       0.493877
Name: Environmental_Concerns, dtype: float64

Location
rural       0.253307
suburban    0.249671
urban       0.249142
Name: Preference, dtype: float64

Favorite_Season
fall      43.375717
spring    43.594425
summer    43.538494
winter    43.620828
Name: Age, dtype: float64

Favorite_Season
fall      70144.293014
spring    69848.522854
summer    70085.589416
winter    69986.847838
Name: Income, dtype: float64

Favorite_Season
fall      4.515262
spring    4.503243
summer    4.480192
winter    4.458330
Name: Travel_Frequency, dtype: float64

Favorite_Season
fall      2751.089901
spring    2723.925185
summer    2742.139668
winter    2749.834319
Name: Vacation_Budget, dtype: float64

Favorite_Season
fall      149.749102
spring    150.429561
summer    150.446597
winter    148.871859
Name: Proximity_to_Mountains, dtype: float64

Favorite_Season
fall      149.240243
spring    149.403258
summer    150.555288
winter    150.345495
Name: Proximity_to_Beaches, dtype: float64

Favorite_Season
fall      0.502430
spring    0.499228
summer    0.503721
winter    0.497965
Name: Pets, dtype: float64

Favorite_Season
fall      0.497418
spring    0.499846
summer    0.501165
winter    0.495276
Name: Environmental_Concerns, dtype: float64

Favorite_Season
fall      0.252544
spring    0.252007
summer    0.248064
winter    0.250250
Name: Preference, dtype: float64

Explore the dataset using visualizations of your choice.

In [14]:
# Write your code here. Add as many boxes as you need.
df.select_dtypes(include=["number"]).corr()

,Age,Income,Travel_Frequency,Vacation_Budget,Proximity_to_Mountains,Proximity_to_Beaches,Pets,Environmental_Concerns,Preference
Age,1.000000,0.000778,0.005964,0.001989,0.005805,0.002673,0.010322,0.003018,-0.001001
Income,0.000778,1.000000,-0.000378,-0.000731,-0.003948,0.000956,0.003554,-0.007597,-0.002998
Travel_Frequency,0.005964,-0.000378,1.000000,0.003593,0.009870,-0.003404,0.003719,0.003031,-0.001680
Vacation_Budget,0.001989,-0.000731,0.003593,1.000000,0.003322,-0.000507,-0.000671,-0.008774,-0.004754
Proximity_to_Mountains,0.005805,-0.003948,0.009870,0.003322,1.000000,-0.002892,-0.002395,0.000780,-0.334354
Proximity_to_Beaches,0.002673,0.000956,-0.003404,-0.000507,-0.002892,1.000000,-0.005369,-0.001777,0.334848
Pets,0.010322,0.003554,0.003719,-0.000671,-0.002395,-0.005369,1.000000,0.000044,-0.011375
Environmental_Concerns,0.003018,-0.007597,0.003031,-0.008774,0.000780,-0.001777,0.000044,1.000000,0.001457
Preference,-0.001001,-0.002998,-0.001680,-0.004754,-0.334354,0.334848,-0.011375,0.001457,1.000000

Check if the dataset is balanced.

In [ ]:
# Write your code here. Add as many boxes as you need.

## Detecting Missing Values
Calculate the percentage of missing values present in each column of the dataset.

In [ ]:
# Write your code here. Add as many boxes as you need.

## Understanding the Causes Behind Missing Values
Using visualization tools such as heatmaps, and dendrograms, illustrate the interdependence between attributes with missing values. Also, visualize the distribution of the missing values within the dataset using matrices and bar charts.

In [ ]:
# Write your code here. Add as many boxes as you need.

## Handling the Missing Values
Handle the missing values using suitable method based on the insights obtained from the various visualizations.

In [ ]:
# Write your code here. Add as many boxes as you need.

## Dataset Splitting
Partition the dataset into training and testing sets with an 80:20 ratio.

In [ ]:
# Write your code here. Add as many boxes as you need.

## Feature Scaling
Standardize the features appropriately.

In [ ]:
# Write your code here. Add as many boxes as you need.

## Model Selection

Choose and train an approriate model for the given task.

In [ ]:
# Write your code here. Add as many boxes as you need.

Use the trained model to make predictions for the test set.

In [ ]:
# Write your code here. Add as many boxes as you need.

Assess the performance of the model by using different classification metrics.

In [ ]:
# Write your code here. Add as many boxes as you need.

# Laboratory Exercise - Bonus Task (+ 2 points)

As part of the bonus task in this laboratory assignment, your objective is to fine-tune at least one hyper-parameter using a cross-validation with grid search. This involves systematically experimenting with various values for the hyper-parameter(s) and evaluating the model's performance using cross-validation. Upon determining the most suitable value(s) for the hyper-parameter(s), evaluate the model's performance on a test set for final assessment.

Hint: Use the `GridCVSearch` from the `scikit-learn` library. Check the documentation at https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html.

## Dataset Splitting
Partition the dataset into training and testing sets with an 90:10 ratio.

In [ ]:
# Write your code here. Add as many boxes as you need.

## Feature Scaling
Standardize the features appropriately.

In [ ]:
# Write your code here. Add as many boxes as you need.

## Fine-tuning the Hyperparameters
Experiment with various values for the chosen hyperparameter(s) and evaluate the model's performance using cross-validation.

In [ ]:
# Write your code here. Add as many boxes as you need.

## Final Assessment of the Model Performance
Upon determining the most suitable hyperparameter(s), evaluate the model's performance on a test set for final assessment.

In [ ]:
# Write your code here. Add as many boxes as you need.